{% extends 'base.html' %}
{% block content %}

<main>
    <section id="content">
        <h1>About Us</h1>
        <p>
            I am round and red,
        </p>
        <p>
            my meat is also red.
        </p>
        <p>
            Some people think I’m a vegetable,
        </p>
        <p>
            but I am really a fruit.
        </p>
        <p>
            People like to use me in salad,
        </p>
        <p>
            What am I?
        </p>
    </section>
</main>

{% endblock content %}
