<!DOCTYPE html>
<html>
    <head>
        <title>Fruity</title>
        <link rel="stylesheet" href="/static/style.css">
        <link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    </head>
    <body>

        <nav>
            <div class="flex">
                <a href="/"><h1 class="text-white logo">fruity.</h1></a>
                <a href="/about">About</a>
            </div>
            <a href="/create" class="button bg-green bg-green-hover mr-1 button-header">New Plant</a>
        </nav>

        {% block content %}{% endblock %}


        <footer><div>
            Copyright 2020 @ makeschool.com
        </div></footer>

        <script src="/static/index.js"></script>
    </body>
</html>
