{% extends 'base.html' %}
{% block content %}


<main>
    <h1>New Plant</h1>

    <form method='POST'>
        <fieldset>
            <legend>Please fill out your plant's info:</legend>

            <label>
                Plant's name:
                <input type="text" name="plant_name" required>
            </label>

            <label>
                Plant's variety:
                <input type="text" name="variety" required>
            </label>

            <label>
                Plant's photo URL:
                <input type="url" name="photo_url" required>
            </label>

            <label>
                Date planted:
                <input type="date" name="date_planted" required>
            </label>

            <input type="submit" class="submit button bg-green bg-green-hover" value="Submit!">
        </fieldset>
    </form>
</main>

{% endblock content %}
