{% extends 'base.html' %}
{% block content %}


<main>
    <h1>New fruit</h1>

    <form method='POST'>
        <fieldset>
            <legend>Please fill out your fruit's info:</legend>

            <label>
                Fruit
                <select name="fruit" class="select-style" style="-webkit-appearance: none;">
                    {% for fruit in fruits %}
                    <option value={{fruit.name}}>
                        {{fruit.name}}
                    </option>
                    {% endfor %}
                </select>
            </label>

            <label>
                Fruit's variety:
                <input type="text" name="variety" required>
            </label>
            <label>
                Date planted:
                <input type="date" name="date_planted" required>
            </label>

            <input type="submit" class="submit button bg-green bg-green-hover" value="Submit">
        </fieldset>
    </form>
</main>

{% endblock content %}
