{% extends 'base.html' %}
{% block content %}

<main>
        <div class="full-view flex justify-content-between" id="info">
            <div class="justify-content-center">
                <h1 class="font-size-xl">{{plant.plant_name}}</h1>
                <h3>Info</h3>
                <strong>Date Planted</strong>
                {{plant.date_planted}}
                <br><br>
                <strong>Variety</strong>
                {{plant.variety}}
                <br /><br />
                <a class="nav button" href={{"/edit/" + plant._id | string()}}>Edit Plant</a><br><br>
            </div>
            <div class="justify-content-center">
                <img class="detail-image" src={{plant.photo_url}}>
            </div>
        </div>


        <form action={{"/harvest/" + plant._id | string()}} method="POST">
            <fieldset>
                <legend>Harvested:</legend>

                <label>
                    Amount harvested
                    <input type="text" name="quantity" placeholder="e.g. 2 tomatoes">
                </label>

                <label>
                    Date harvested
                    <input type="date" name="date_harvested">
                </label>

                <input type="submit" class="submit" value="Harvest!">
            </fieldset>
        </form>

        <section id="harvest-history">
            <h3>Harvest History</h3>

            <ul>
                {% for harvest in harvests %}
                <li>{{harvest.date_harvested}}: Harvested {{harvest.quantity}}</li>
                {% endfor %}
            </ul>
        </section>

        <form action={{"/delete/" + plant._id | string()}} method='POST' id="delete-form" onsubmit="return confirm_delete()">
            <input type="submit" class="nav" onclick="delete_modal()" value="Delete Plant">
        </form>
</main>

{% endblock content %}
