{% extends 'base.html' %}
{% block content %}

<main>
        <div class="full-view flex justify-content-between">
            <div class="wh-100 justify-content-center mr-1">
                <h1 class="font-size-xl">{{fruit.name}}</h1>
                <p class="mt-n2">
                    This fruit was planted on <strong>{{fruit.date_planted}}</strong>.
                </p>
                <p>
                    It belongs to the <strong>{{fruit.variety}}</strong> variety.
                </p>
                <form action={{"/delete/" + fruit._id | string()}} method='POST' class="w-100" onsubmit="return confirm_delete()">
                    <div class="form-row flex align-items-center">
                        <a class="button button-white mr-1" href={{"/edit/" + fruit._id | string()}}>Edit</a>
                        <button type="submit" class="button button-delete" onclick="delete_modal()" style="float: right; align-self: center;">Delete</button>
                    </div>
                </form>
            </div>
            <div class="wh-100 justify-content-center detail-image-container mt-n4 round-corners" style="background-color: {{fruit.color}}">
                <img class="detail-image ml-n5" src={{fruit.photo_url}}>
            </div>
        </div>


        <form action={{"/harvest/" + fruit._id | string()}} method="POST">
            <fieldset>
                <legend>Harvested:</legend>

                <label>
                    Amount harvested
                    <input type="text" name="quantity" placeholder="e.g. 2 tomatoes">
                </label>

                <label>
                    Date harvested
                    <input type="date" name="date_harvested">
                </label>

                <input type="submit" class="submit" value="Harvest!">
            </fieldset>
        </form>

        <section id="harvest-history">
            <h3>Harvest History</h3>

            <ul>
                {% for harvest in harvests %}
                <li>{{harvest.date_harvested}}: Harvested {{harvest.quantity}}</li>
                {% endfor %}
            </ul>
        </section>


</main>

{% endblock content %}
