{% extends 'base.html' %}
{% block content %}

<main>
    <h1>Edit fruit</h1>

    <form method='POST'>
        <fieldset>
            <legend>Please fill out your fruit's info:</legend>

            <label>
                fruit's name:
                <input type="text" name="name" value={{fruit.name}}>
            </label>

            <label>
                fruit's variety:
                <input type="text" name="variety" value={{fruit.variety}}>
            </label>

            <label>
                fruit's photo URL:
                <input type="url" name="photo_url" value={{fruit.photo_url}}>
            </label>

            <label>
                Date planted:
                <input type="date" name="date_planted" value={{fruit.date_planted}}>
            </label>

            <input type="submit" class="submit" value="Submit!">
        </fieldset>
    </form>
</main>

{% endblock content %}
