{% extends 'base.html' %}
{% block content %}


<main>
    <div id="content">
        <div id="items">
            {% for fruit in fruits %}
                <div class="card-container">
                    <div class="card">
                        <a href={{"/fruit/" + fruit._id | string()}} style="background-color: {{fruit.color}}"><img src={{fruit.photo_url}} style="background-color: {{fruit.color}}"></a>
                        <div class="card-content">
                            <a href={{"/fruit/" + fruit._id | string()}}>{{fruit.name}}</a>
                        </div>
                    </div>
                    <h4>{{fruit.name}}</h4>
                </div>
            {% endfor %}
        </div>
    </div>

</main>

{% endblock content %}
