{% extends 'base.html' %}
{% block content %}


<main>
    <div id="content">
        <div id="items">
            {% for plant in plants %}
                <div class="card-container">
                    <div class="card">
                        <a href={{"/plant/" + plant._id | string()}}><img src={{plant.photo_url}}></a>
                        <div class="card-content">
                            <a href={{"/plant/" + plant._id | string()}}>{{plant.plant_name}}</a>
                        </div>
                    </div>
                    <h4>{{plant.plant_name}}</h4>
                </div>
            {% endfor %}
        </div>
    </div>

</main>

{% endblock content %}
